## Time to USE MACHINE LEARNING ALGORITHM TO BUILD A PREDICTIVE MODEL
### Challenge - Heavily Imbalance data AND Presence of Outliers
1. **Adding more weight to the minority class so that the plane which divide can equally classify**
2. Oversampling and UnderSampling methods to balance the data

In [1]:
# import libraries
# importing the libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [2]:
# load the dataset
df = pd.read_csv("data_for_model.csv")
df.head()

,loan_amnt,term,int_rate,grade,sub_grade,home_ownership,annual_inc,verification_status,loan_status,dti,...,revol_util,total_acc,initial_list_status,application_type,mort_acc,emp_level,issue_d_year,credit_age,pincode,purpose_binary
0,10000.0,36,11.44,B,B4,RENT,117000.0,0,1,26.24,...,41.8,25.0,1,1,0.0,Legend,2015,35,22690,0
1,8000.0,36,11.99,B,B5,MORTGAGE,65000.0,0,1,22.05,...,53.3,27.0,0,1,1.0,Mid,2015,21,5113,1
2,15600.0,36,10.49,B,B3,RENT,43057.0,1,1,12.79,...,92.2,26.0,0,1,0.0,Fresher,2015,18,5113,1
3,7200.0,36,6.49,A,A2,RENT,54000.0,0,1,2.60,...,21.5,13.0,0,1,0.0,Senior,2014,19,813,1
4,24375.0,60,17.27,C,C5,MORTGAGE,55000.0,1,0,33.95,...,69.8,43.0,0,1,1.0,Senior,2013,26,11650,1

In [3]:
## Dividing the dataset into train and test then splitting it using train_test_split

X = df.drop('loan_status', axis= 1)
Y= df['loan_status']

X.columns

Index(['loan_amnt', 'term', 'int_rate', 'grade', 'sub_grade', 'home_ownership',
       'annual_inc', 'verification_status', 'dti', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'application_type', 'mort_acc', 'emp_level', 'issue_d_year',
       'credit_age', 'pincode', 'purpose_binary'],
      dtype='object')

In [4]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.20,random_state=42) #change all the values before unhasing the bottom line code.

# X_train,X_test_cv,y_train,y_test_cv = train_test_split(X_train_cv,y_train_cv,test_size=0.25,random_state=42)

print(X_train.shape)
# print(X_train_cv.shape)
print(X_test.shape)
print(y_train.shape)
# print(y_train_cv.shape)
print(y_test.shape)

(316824, 22)
(79206, 22)
(316824,)
(79206,)

## Preprocessing Data for Model Building

### Label Encoding and One-Hot Encoding

- **Label Encoding: `grade`, `sub_grade`,`emp-level`. Since we can assign 1 to n numbers to identify which one is greater.**
- **Target Encoding: `pincode`, `home_ownership` ship**

In [5]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder

label_encoder_grade = LabelEncoder()
# label_encoder_grade.fit(X_train['grade'])

X_train['grade'] = label_encoder_grade.fit_transform(X_train['grade'])
X_test['grade'] = label_encoder_grade.transform(X_test['grade'])

label_encoder_subgrade = LabelEncoder()
# label_encoder_subgrade.fit(X_train['sub_grade'])

X_train['sub_grade'] = label_encoder_subgrade.fit_transform(X_train['sub_grade'])
X_test['sub_grade'] = label_encoder_subgrade.transform(X_test['sub_grade'])

In [6]:
# for emp_level, home_ownership, pincode - we have to coding manually.

## Creating a function for the testing purpose too
def preprocess_emplevel(data, emp_level): 
    data[emp_level] = data[emp_level].replace({
        "Inactive": 0,
        "Fresher": 1,
        "Junior": 2,
        "Mid": 3,
        "Senior": 4,
        "Legend": 5   
    })
    return data

#call function

X_train = preprocess_emplevel(X_train, 'emp_level')
X_test = preprocess_emplevel(X_test, 'emp_level')

In [7]:
import category_encoders as ce  # Import category_encoders

# Initialize and fit the target encoder
encoder = ce.TargetEncoder()

encoding_cols = ['pincode', 'home_ownership']

# Transform both training and testing sets
for col in encoding_cols:
    X_train[col] = encoder.fit_transform(X_train[col], y_train)  # Fit on training data
    X_test[col] = encoder.transform(X_test[col])  # Transform on test data

Warning: No categorical columns found. Calling 'transform' will only return input data.